<!--根据 模块 控制器 方法 加载对应的js css-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--基础样式-->
<link rel="stylesheet" type="text/css" href="/base/css/d2.css">
<!--基础js-->
<script charset="utf-8" src="/base/js/d2.js"></script>
<!--  -->
<!--<script charset="utf-8" src="/base/js/jquery-3.6.0.min.js"></script>-->
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<!--<script charset="utf-8" src="/base/js/vue.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
<!-- 生产环境版本，优化了尺寸和速度 -->
<!--
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
-->
<!--
<script src="https://vuejs.org/js/vue.js"></script>
-->




