<div class="main_menu">
    <ul class="ui_menu_item_group">
        <div class="ui_menu_item_title" title="组件总览" style="color: #0a0a0a; font-size: 24px">组件总览</div>
        <!--通用-->
        <li class="ui_menu_item_group">
            <div class="ui_menu_item_group_title" title="通用">通用</div>
            <ul class="ui_menu_item_group">
                <li class="ui_menu_item ui_menu_item_selected">
                    <span class="ui_menu_title_content">
                        <a href="/ui/common/button/"><span>Button</span><span class="chinese">按钮</span></a>
                    </span>
                </li>
                <li class="ui_menu_item" >
                    <span class="ui_menu_title_content">
                        <a href="/ui/common/input/"><span>Input</span><span class="chinese">输入框</span></a>
                    </span>
                </li>
                <li class="ui_menu_item" >
                    <span class="ui_menu_title_content">
                        <a href="/ui/common/input/"><span>Select</span><span class="chinese">选择器</span></a>
                    </span>
                </li>
                <li class="ui_menu_item" >
                    <span class="ui_menu_title_content">
                        <a href="/ui/common/input/"><span>Switch</span><span class="chinese">开关</span></a>
                    </span>
                </li>
                <li class="ui_menu_item" >
                    <span class="ui_menu_title_content">
                        <a href="/ui/common/input/"><span>Radio</span><span class="chinese">单选框</span></a>
                    </span>
                </li>
                <li class="ui_menu_item" >
                    <span class="ui_menu_title_content">
                        <a href="/ui/common/input/"><span>Checkbox</span><span class="chinese">多选框</span></a>
                    </span>
                </li>
                <li class="ui_menu_item" >
                    <span class="ui_menu_title_content">
                        <a href="/ui/common/input/"><span>Cascader</span><span class="chinese">级联选择</span></a>
                    </span>
                </li>
            </ul>
        </li>
        <!--布局-->
        <li  class="ui_menu_item_group">
            <div class="ui_menu_item_group_title" title="通用">通用</div>
            <ul class="ui_menu_item_group">
                <li class="ui_menu_item ">
                    <span class="ui_menu_title_content">
                        <a href="/components/button-cn/"><span>Button</span><span class="chinese">按钮</span></a>
                    </span>
                </li>
                <li class="ui_menu_item" >
                    <span class="ui_menu_title_content">
                        <a href="/components/icon-cn/"><span>Icon</span><span class="chinese">图标</span></a>
                    </span>
                </li>
            </ul>
        </li>

        <!--导航-->
        <li style="display: none" class="ui_menu_item_group">
            <div class="ui_menu_item_group_title" title="通用">通用</div>
            <ul class="ui_menu_item_group">
                <li class="ui_menu_item ">
                                    <span class="ui_menu_title_content">
                                        <a href="/components/button-cn/"><span>Button</span><span class="chinese">按钮</span></a>
                                    </span>
                </li>
                <li class="ui_menu_item" >
                                    <span class="ui_menu_title_content">
                                        <a href="/components/icon-cn/"><span>Icon</span><span class="chinese">图标</span></a>
                                    </span>
                </li>
            </ul>
        </li>

        <!--反馈-->
        <li style="display: none" class="ui_menu_item_group">
            <div class="ui_menu_item_group_title" title="通用">通用</div>
            <ul class="ui_menu_item_group">
                <li class="ui_menu_item ">
                                    <span class="ui_menu_title_content">
                                        <a href="/components/button-cn/"><span>Button</span><span class="chinese">按钮</span></a>
                                    </span>
                </li>
                <li class="ui_menu_item" >
                                    <span class="ui_menu_title_content">
                                        <a href="/components/icon-cn/"><span>Icon</span><span class="chinese">图标</span></a>
                                    </span>
                </li>
            </ul>
        </li>
        <!--功能-->
        <li style="display: none" class="ui_menu_item_group">
            <div class="ui_menu_item_group_title" title="通用">通用</div>
            <ul class="ui_menu_item_group">
                <li class="ui_menu_item ">
                                    <span class="ui_menu_title_content">
                                        <a href="/ui/index/button/"><span>Button</span><span class="chinese">按钮</span></a>
                                    </span>
                </li>
                <li class="ui_menu_item" >
                                    <span class="ui_menu_title_content">
                                        <a href="/components/icon-cn/"><span>Icon</span><span class="chinese">图标</span></a>
                                    </span>
                </li>
            </ul>
        </li>

    </ul>
</div>