<div class="main_menu">
    <ul class="d2_menu_item_group">
        <div class="d2_menu_item_title" title="组件总览" style="color: #0a0a0a; font-size: 24px">组件总览</div>
        <!--通用-->
        <li class="d2_menu_item_group">
            <div class="d2_menu_item_group_title" title="通用">通用</div>
            <ul class="d2_menu_item_group">
                <li class="d2_menu_item d2_menu_item_selected">
                                    <span class="d2_menu_title_content">
                                        <a href="/ui/common/button/"><span>Button</span><span class="chinese">按钮</span></a>
                                    </span>
                </li>
                <li class="d2_menu_item" >
                                    <span class="d2_menu_title_content">
                                        <a href="/components/icon-cn/"><span>Icon</span><span class="chinese">图标</span></a>
                                    </span>
                </li>
            </ul>
        </li>
        <!--布局-->
        <li  class="d2_menu_item_group">
            <div class="d2_menu_item_group_title" title="通用">通用</div>
            <ul class="d2_menu_item_group">
                <li class="d2_menu_item ">
                                    <span class="d2_menu_title_content">
                                        <a href="/components/button-cn/"><span>Button</span><span class="chinese">按钮</span></a>
                                    </span>
                </li>
                <li class="d2_menu_item" >
                                    <span class="d2_menu_title_content">
                                        <a href="/components/icon-cn/"><span>Icon</span><span class="chinese">图标</span></a>
                                    </span>
                </li>
            </ul>
        </li>

        <!--导航-->
        <li style="display: none" class="d2_menu_item_group">
            <div class="d2_menu_item_group_title" title="通用">通用</div>
            <ul class="d2_menu_item_group">
                <li class="d2_menu_item ">
                                    <span class="d2_menu_title_content">
                                        <a href="/components/button-cn/"><span>Button</span><span class="chinese">按钮</span></a>
                                    </span>
                </li>
                <li class="d2_menu_item" >
                                    <span class="d2_menu_title_content">
                                        <a href="/components/icon-cn/"><span>Icon</span><span class="chinese">图标</span></a>
                                    </span>
                </li>
            </ul>
        </li>

        <!--反馈-->
        <li style="display: none" class="d2_menu_item_group">
            <div class="d2_menu_item_group_title" title="通用">通用</div>
            <ul class="d2_menu_item_group">
                <li class="d2_menu_item ">
                                    <span class="d2_menu_title_content">
                                        <a href="/components/button-cn/"><span>Button</span><span class="chinese">按钮</span></a>
                                    </span>
                </li>
                <li class="d2_menu_item" >
                                    <span class="d2_menu_title_content">
                                        <a href="/components/icon-cn/"><span>Icon</span><span class="chinese">图标</span></a>
                                    </span>
                </li>
            </ul>
        </li>
        <!--功能-->
        <li style="display: none" class="d2_menu_item_group">
            <div class="d2_menu_item_group_title" title="通用">通用</div>
            <ul class="d2_menu_item_group">
                <li class="d2_menu_item ">
                                    <span class="d2_menu_title_content">
                                        <a href="/ui/index/button/"><span>Button</span><span class="chinese">按钮</span></a>
                                    </span>
                </li>
                <li class="d2_menu_item" >
                                    <span class="d2_menu_title_content">
                                        <a href="/components/icon-cn/"><span>Icon</span><span class="chinese">图标</span></a>
                                    </span>
                </li>
            </ul>
        </li>

    </ul>
</div>