body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin: 0;
    padding: 0
}
html:root {
    --d2_primary_color: #1890ff;
    --d2_primary_color_hover: #40a9ff;
    --d2_primary_color_active: #096dd9;
    --d2_primary_color_outline: rgba(24, 144, 255, .2);
    --d2_primary_1: #e6f7ff;
    --d2_primary_2: #bae7ff;
    --d2_primary_3: #91d5ff;
    --d2_primary_4: #69c0ff;
    --d2_primary_5: #40a9ff;
    --d2_primary_6: #1890ff;
    --d2_primary_7: #096dd9;
    --d2_primary_color_deprecated_pure: ;
    --d2_primary_color_deprecated_l_35: #cbe6ff;
    --d2_primary_color_deprecated_l_20: #7ec1ff;
    --d2_primary_color_deprecated_t_20: #46a6ff;
    --d2_primary_color_deprecated_t_50: #8cc8ff;
    --d2_primary_color_deprecated_f_12: rgba(24, 144, 255, .12);
    --d2_primary_color_active_deprecated_f_30: rgba(230, 247, 255, .3);
    --d2_primary_color_active_deprecated_d_02: #dcf4ff;
    --d2_success_color: #52c41a;
    --d2_success_color_hover: #73d13d;
    --d2_success_color_active: #389e0d;
    --d2_success_color_outline: rgba(82, 196, 26, .2);
    --d2_success_color_deprecated_bg: #f6ffed;
    --d2_success_color_deprecated_border: #b7eb8f;
    --d2_error_color: #ff4d4f;
    --d2_error_color_hover: #ff7875;
    --d2_error_color_active: #d9363e;
    --d2_error_color_outline: rgba(255, 77, 79, .2);
    --d2_error_color_deprecated_bg: #fff2f0;
    --d2_error_color_deprecated_border: #ffccc7;
    --d2_warning_color: #faad14;
    --d2_warning_color_hover: #ffc53d;
    --d2_warning_color_active: #d48806;
    --d2_warning_color_outline: rgba(250, 173, 20, .2);
    --d2_warning_color_deprecated_bg: #fffbe6;
    --d2_warning_color_deprecated_border: #ffe58f;
    --d2_info_color: #1890ff;
    --d2_info_color_deprecated_bg: #e6f7ff;
    --d2_info_color_deprecated_border: #91d5ff
}
body {
    overflow-x: hidden;
    color: #000000d9;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;
    background: #fff;
    transition: background 1s cubic-bezier(.075,.82,.165,1)
}
a {
    transition: color .3s ease
}

*,*:before,*:after {
    box-sizing: border-box;
}
ul,ol,li{
    list-style: none;
}
#header {
    position: relative;
    z-index: 10;
    max-width: 100%;
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
}
#header .header_rows{
    flex-flow: nowrap;
    height: 64px;
    row-gap: 0px;
}
#logo {
    height: 64px;
    padding-left: 40px;
    overflow: hidden;
    color: #000000d9;
    font-weight: 700;
    font-size: 18px;
    font-family: PuHuiTi,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji,sans-serif;
    line-height: 64px;
    letter-spacing: -.18px;
    white-space: nowrap;
    text-decoration: none
}
/*内容数据*/
#content .content_rows{
    display: flex;
}
#content .content_rows .main_menu{
    width: 320px;
    border-right: 1px solid #f0f0f0;
    height: calc(100vh - 64px);
}
.d2_menu_item_group{
    width: 100%;
}
.d2_menu_item_title,.d2_menu_item_group_title {
    padding: 8px 16px;
    color: #00000073;
    font-size: 14px;
    line-height: 24px;
    transition: all .3s;
    padding-top: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.d2_menu_item_group_title:after {
    position: relative;
    top: 12px;
    display: block;
    width: calc(100% - 20px);
    height: 1px;
    background: #f0f0f0;
    content: ""
}
.d2_menu_item{
    height: 40px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0 16px;
    overflow: hidden;
    line-height: 40px;
    text-overflow: ellipsis;
    padding-left: 40px!important;
    position: relative;
    cursor: pointer;
}

.d2_menu_item a {
    color: #000000d9
}

.d2_menu_item a:hover {
    color: var(--ant-primary-color)
}

.d2_menu_item_selected {
    background-color: var(--d2_primary_1)
}
.d2_menu_item_selected:after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 3px solid var(--d2_primary_color);
    transform: scaleY(1);
    transition: transform .15s cubic-bezier(.215,.61,.355,1),opacity .15s cubic-bezier(.215,.61,.355,1);
    content: "";
}
.d2_menu_title_content{
    flex: auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color .3s;
}
.d2_menu_title_content a{
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
}
.d2_menu_item_selected .d2_menu_title_content a{
    color: var(--d2_primary_color);
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
}
.d2_menu_title_content .chinese {
    margin-left: 6px;
    font-weight: 400;
    font-size: 12px;
    opacity: .67
}

#content .content_rows .main_content {
    width: calc(100vw - 320px);
    border-right: 1px solid #f0f0f0;
    height: calc(100vh - 64px);
}
.main-container {
    position: relative;
    min-height: 500px;
    padding: 0 170px 32px 64px;
    background: #fff
}
.markdown h1 {
    margin-top: 8px;
    margin-bottom: 20px;
    color: #000000d9;
    font-weight: 500;
    font-size: 30px;
    font-family: Avenir,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji,sans-serif;
    line-height: 38px
}

.markdown h1 .subtitle {
    margin-left: 12px
}
.markdown p,.markdown pre {
    margin: 1em 0
}

.ant-card-head-wrapper {
    display: flex;
    align-items: center
}

.ant-card-head-title {
    display: inline-block;
    flex: 1;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.ant-card-head-title>.ant-typography,.ant-card-head-title>.ant-typography-edit-content {
    left: 0;
    margin-top: 0;
    margin-bottom: 0
}

.ant-card-head .ant-tabs-top {
    clear: both;
    margin-bottom: -17px;
    color: #000000d9;
    font-weight: 400;
    font-size: 14px
}

.ant-card-head .ant-tabs-top-bar {
    border-bottom: 1px solid #f0f0f0
}
.ant-card-extra {
    float: right;
    margin-left: auto;
    padding: 16px 0;
    color: #000000d9;
    font-weight: 400;
    font-size: 14px
}

.ant-card-rtl .ant-card-extra {
    margin-right: auto;
    margin-left: 0
}

.ant-card-body {
    padding: 24px
}

.ant-card-body:before {
    display: table;
    content: ""
}

.ant-card-body:after {
    display: table;
    clear: both;
    content: ""
}


/*按钮组件部分*/
.markdown{
    padding-left: 10px;
}
.code_box {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 16px;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    transition: all .2s
}

.code_box .code_box_title,.code_box .code_box_title a {
    color: #000000d9;
    background: #fff
}

.code_box,.code_box .code_box_demo {
    background-color: #fff
}

.code_box .markdown pre {
    margin: .5em 0;
    padding: 6px 12px
}

.code_box .markdown pre code {
    margin: 0;
    background: #f5f5f5
}
.code_box_demo {
    padding: 42px 24px 50px;
    color: #000000d9;
    border-bottom: 1px solid #f0f0f0
}

.d2_btn>span {
    display: inline-block
}

.d2_btn_primary {
    color: #fff;
    border-color: var(--d2_primary_color);
    background: var(--d2_primary_color);
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px #0000000b
}

.d2_btn_primary>a:only_child {
    color: currentColor
}

.d2_btn_primary>a:only_child:after {
    position: absolute;
    inset: 0;
    background: 0 0;
    content: ""
}

.d2_btn_primary:hover,.d2_btn_primary:focus {
    color: #fff;
    border-color: var(--d2_primary_color_hover);
    background: var(--d2_primary_color_hover)
}
.d2_btn {
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px #00000004;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: #000000d9;
    border-color: #d9d9d9;
    background: #fff
}
.d2_btn_primary{
    color: #fff;
    border-color: var(--d2_primary_color);
    background: var(--d2_primary_color);
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px #0000000b;
}
.d2_btn_primary:hover,.d2_btn_primary:focus {
    color: #fff;
    border-color: var(--d2_primary_color_hover);
    background: var(--d2_primary_color_hover)
}
.markdown h2,.markdown h3,.markdown h4,.markdown h5,.markdown h6 {
    clear: both;
    margin: 1.6em 0 .6em;
    color: #000000d9;
    font-weight: 500;
    font-family: Avenir,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji,sans-serif
}
.d2_btn>.d2icon {
    line-height: 1
}
.d2_btn,.d2_btn:active,.d2_btn:focus {
    outline: 0
}
[d2_btn_click=true]:after{
    position: absolute;
    inset: 0;
    display: block;
    opacity: 0.5;
    border-radius: inherit;
    box-shadow: 0 0 0 0 var(--d2_primary_color);
    animation: fadeEffect 0.8s cubic-bezier(.08,.82,.17,1),waveEffect .3s cubic-bezier(.08,.82,.17,1);
    animation-fill-mode: forwards;
    content: "";
    pointer-events: none;
}
@keyframes fadeEffect {
    to {
        opacity: 0
    }
}
@keyframes waveEffect {
    to {
        box-shadow: 0 0 0 6px var(--d2_primary_color)
    }
}

