<html>
<head>
    <meta charset="UTF-8">
    <title>UI框架-按钮</title>
    <!--引入head部分数据-->
    {include file="base/header"/}
    <style>

    </style>
    <!--代码展示-->
    <style>
        [id^="button_demo_basic"] .d2_btn {
            margin-right: 8px;
            margin-bottom: 12px;
        }
        [id^="button_demo_basic"] .d2_btn_rtl {
            margin-right: 0;
            margin-left: 8px;
        }
        [id^="button_demo_basic"] .ant_btn_group > .ant_btn {
            margin-right: 0;
        }
        [data-theme="dark"] .site_button_ghost_wrapper {
            background: rgba(255, 255, 255, 0.2);
        }
    </style>
</head>
<body>
    <!--页面 top部分代码-->
    {include file="base/top"/}
    <!--页面 内容部分-->
    <div id="content">
        <div class="content_rows">
            {include file="base/left"/}
            <!--右侧内容-->
            <div class="main_content">
                <!--内容主体-->
                <section class="main_container">
                    <section class="markdown">
                        <section class="markdown">
                            <h1>Button<span class="subtitle">按钮</span></h1>
                            <p>按钮用于开始一个即时操作。</p>
                            <h2 id="何时使用" data-scrollama-index="0"><span>何时使用</span><a href="#何时使用" class="anchor">#</a></h2>
                            <p>标记了一个（或封装一组）操作命令，响应用户点击行为，触发相应的业务逻辑。</p>
                            <p>在 d2 Design 中我们提供了五种按钮。</p>
                            <ul>
                                <li><p>主按钮：用于主行动点，一个操作区域只能有一个主按钮。</p></li>
                                <li><p>默认按钮：用于没有主次之分的一组行动点。</p></li>
                                <li><p>虚线按钮：常用于添加操作。</p></li>
                                <li><p>文本按钮：用于最次级的行动点。</p></li>
                                <li><p>链接按钮：一般用于链接，即导航至某位置。</p></li>
                            </ul>
                            <p>以及四种状态属性与上面配合使用。</p>
                            <ul>
                                <li><p>危险：删除/移动/修改权限等危险操作，一般需要二次确认。</p></li>
                                <li><p>幽灵：用于背景色比较复杂的地方，常用在首页/产品页等展示场景。</p></li>
                                <li><p>禁用：行动点不可用的时候，一般需要文案解释。</p></li>
                                <li><p>加载中：用于异步操作等待反馈的时候，也可以避免多次提交。</p></li>
                            </ul>
                            <p><a href="https://d2.design/docs/spec/buttons-cn">完整设计指南</a></p>
                        </section>
                        <h2 data-scrollama-index="1">
                            代码演示
                            <span class="all_code_box_controls">
                                <span role="img" aria-label="code" tabindex="-1" class="anticon anticon-code code-box-expand-trigger">
                                </span>
                            </span>
                        </h2>
                        <section class="code_box" id="button_demo_basic" data-scrollama-index="2">
                            <section class="code_box_demo">
                                <button type="button"  class="d2_btn d2_btn_primary"  >
                                    <span>基础按钮</span>
                                </button>
                                <button type="button"  class="d2_btn">
                                    <span>默认按钮</span>{{message}}
                                </button>
                                <button type="button" class="d2_btn d2_btn_dashed" >
                                    <span>虚线按钮</span>
                                </button>
                                <br>
                                <button type="button" class="d2_btn d2_btn_text" >
                                    <span>文本按钮</span>
                                </button>
                                <button type="button" class="d2_btn d2_btn_link">
                                    <span>连接按钮</span>
                                </button>
                            </section>
                        </section>
                    </section>
                </section>
            </div>
        </div>
    </div>
</body>
<script type="module">
    button_com.el='button.d2_btn';
    com.load(button_com)
</script>
</html>