<html>
<head>
    <meta charset="UTF-8">
    <title>UI框架-按钮</title>
    <!--引入head部分数据-->
    {include file="base/header"/}
    <link rel="stylesheet" type="text/css" href="/base/extend/codemirror-5.65.0/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="/base/extend/codemirror-5.65.0/theme/ttcn.css">

    <script charset="utf-8" src="/base/extend/codemirror-5.65.0/lib/codemirror.js"></script>
    <script charset="utf-8" src="/base/extend/codemirror-5.65.0/mode/xml/xml.js"></script>
    <script charset="utf-8" src="/base/extend/codemirror-5.65.0/mode/javascript/javascript.js"></script>
    <script charset="utf-8" src="/base/extend/codemirror-5.65.0/mode/css/css.js"></script>
    <script charset="utf-8" src="/base/extend/codemirror-5.65.0/mode/htmlmixed/htmlmixed.js"></script>

    <!--代码展示-->
    <style>
        .code_container{
            border: 1px #ccc solid;
            margin-top: 20px;
        }
        .code_container .title{
            height: 36px;
            border-bottom: 1px solid #ccc;
            line-height: 36px;
            padding-left: 10px;
        }
        .code_container .lable{
            height: 24px;
            line-height: 24px;
            padding-left: 10px;
            background-color: #f7f7f7;
        }

        [id^="button_demo_basic"] .btn {
            margin-right: 8px;
            margin-bottom: 12px;
        }
        [id^="button_demo_basic"] .btn_rtl {
            margin-right: 0;
            margin-left: 8px;
        }
        [id^="button_demo_basic"] .ant_btn_group > .ant_btn {
            margin-right: 0;
        }
        [data-theme="dark"] .site_button_ghost_wrapper {
            background: rgba(255, 255, 255, 0.2);
        }
    </style>
</head>
<body>
    <!--页面 top部分代码-->
    {include file="base/top"/}
    <!--页面 内容部分-->
    <div id="content">
        <div class="content_rows">
            {include file="base/left"/}
            <!--右侧内容-->
            <div class="main_content">
                <!--内容主体-->
                <section class="main_container">
                    <section class="markdown">
                        <section class="markdown">
                            <h1>Button<span class="subtitle">按钮</span></h1>
                            <p>按钮用于开始一个即时操作。</p>
                            <h2 id="何时使用" data-scrollama-index="0"><span>何时使用</span><a href="#何时使用" class="anchor">#</a></h2>
                            <p>标记了一个（或封装一组）操作命令，响应用户点击行为，触发相应的业务逻辑。</p>
                            <p>在 d2 Design 中我们提供了五种按钮。</p>
                            <ul>
                                <li><p>主按钮：用于主行动点，一个操作区域只能有一个主按钮。</p></li>
                                <li><p>默认按钮：用于没有主次之分的一组行动点。</p></li>
                                <li><p>虚线按钮：常用于添加操作。</p></li>
                                <li><p>文本按钮：用于最次级的行动点。</p></li>
                                <li><p>链接按钮：一般用于链接，即导航至某位置。</p></li>
                            </ul>
                            <p>以及四种状态属性与上面配合使用。</p>
                            <ul>
                                <li><p>危险：删除/移动/修改权限等危险操作，一般需要二次确认。</p></li>
                                <li><p>幽灵：用于背景色比较复杂的地方，常用在首页/产品页等展示场景。</p></li>
                                <li><p>禁用：行动点不可用的时候，一般需要文案解释。</p></li>
                                <li><p>加载中：用于异步操作等待反馈的时候，也可以避免多次提交。</p></li>
                            </ul>
                            <p><a href="https://d2.design/docs/spec/buttons-cn">完整设计指南</a></p>
                        </section>
                        <h2 data-scrollama-index="1">
                            代码演示
                            <span class="all_code_box_controls">
                                <span role="img" aria-label="code" tabindex="-1" class="anticon anticon-code code-box-expand-trigger">
                                </span>
                            </span>
                        </h2>
                        <section class="code_box" id="button_demo_basic" data-scrollama-index="2">
                            <section class="code_box_demo">
                                <button type="button" class="btn btn_primary"><span>基础按钮</span></button>
                                <button type="button" class="btn"><span>默认按钮</span></button>
                                <button type="button" class="btn btn_dashed"><span>虚线按钮</span></button>
                                <br/>
                                <button type="button" class="btn btn_text" ><span>文本按钮</span></button>
                                <button type="button" class="btn btn_link"><span>连接按钮</span></button>
                                <div class="code_container">
                                    <div class="title">简单使用组件</div>
                                    <div class="lable">HTML</div>
                                    <textarea type="code" data-mode="text/html">
<button type="button" class="btn btn_primary"><span>基础按钮</span></button>
<button type="button" class="btn"><span>默认按钮</span></button>
<button type="button" class="btn btn_dashed"><span>虚线按钮</span></button>
<br/>
<button type="button" class="btn btn_text" ><span>文本按钮</span></button>
<button type="button" class="btn btn_link"><span>连接按钮</span></button></textarea>
                                    <div class="lable">JavaScript</div>
                                    <textarea type="code" data-mode="text/javascript">
button_com.el='button.btn';//按钮组件的选择器
//定义的click事件
button_com.click=function (e){
    console.log('触发click事件');
}
//加载组件
com.load(button_com);</textarea>
                                </div>
                                <!--不显示这个元素-->
                                <div class="code_container hidden" style="display: none">
                                    <div class="title">底层逻辑</div>
                                    <div class="lable">JavaScript->组件实现原理</div>
                                    <textarea type="code" data-mode="text/javascript">
//组件代理
const com={
    //代理方法
    handler:{
        get: function(target, prop, receiver) {
            //直接返回
            if(prop in target)return target[prop]
            //访问事件列表
            if('methods' in target && prop in target.methods){
                 return target.methods[prop];
            }
            return '未定义方法:'+prop;
        }
    },
    //加载组件
    load:function(load_com){
        let com=new Proxy(load_com,this.handler);
        //先执行移除绑定
        for (let fun in com.remove_bind) {
            if (typeof (com.remove_bind[fun]) == 'function') {
                com.remove_bind[fun](com);
            }
        }
        //自动绑定方法
        for (let fun in com.bind) {
            if (typeof (com.bind[fun]) == 'function') {
                com.bind[fun](com);
            }
        }
        return com;
    }
};

//按钮组件定义
const button_com = {
    //绑定对象
    name: 'button',
    //绑定对象
    el: '',
    //绑定方法
    bind: {
        //绑定的click事件
        click:function (e){
            let btn = document.querySelectorAll(e.el);
            btn.forEach(function (dom, index, arr) {
                dom.addEventListener('click', e.click)
            })
        },
        //绑定的动画事件
        animation: function (e) {
            let btn = document.querySelectorAll(e.el);
            btn.forEach(function (dom, index, arr) {
                //注册动画开始结束处理事件
                dom.addEventListener('click', e.click_animation_start)
                dom.addEventListener('animationend', e.click_animation_end)
            })
        }
    },
    //移除绑定
    remove_bind: {
        //移除绑定click事件
        click:function (e){
            let btn = document.querySelectorAll(e.el);
            btn.forEach(function (dom, index, arr) {
                dom.removeEventListener('click', e.click)
            })
        },
        //移除绑定的动画事件
        animation: function (e) {
            let btn = document.querySelectorAll(e.el);
            btn.forEach(function (dom, index, arr) {
                dom.removeEventListener('click', e.click_animation_start)
                dom.removeEventListener('animationend', e.click_animation_end)
            })
        }
    },
    //事件列表
    methods: {
        //定义一个空事件
        click:function (){},
        //按钮点击事件
        click_animation_start: function (e) {
            let target = e.currentTarget;//得到当前元素
            if (typeof (target.attributes['btn_click']) == "undefined") {
                target.setAttribute('btn_click', "false")
            }
            if (target.attributes['btn_click']['value'] == "true") {
                target.attributes['btn_click']['value'] = "false"
            } else {
                target.attributes['btn_click']['value'] = "true"
            }
        },
        //按钮动画播放结束
        click_animation_end: function (e) {
            let target = e.currentTarget;//得到当前元素
            if (typeof (target.attributes['btn_click']) == "undefined") {
                target.setAttribute('btn_click', "false")
            }
            target.setAttribute('btn_click', "false")
        }
    },
};</textarea>
                                </div>
                            </section>
                        </section>
                    </section>
                </section>
            </div>
        </div>
    </div>
</body>
<script type="module">
    button_com.el='button.btn';//按钮组件的选择器
    //定义的click事件
    button_com.click=function (e){
        console.log('触发click事件')
    }
    //加载组件
    com.load(button_com)
</script>
<script type="module">


</script>

</html>