<html>
<head>
    <meta charset="UTF-8">
    <title>UI框架-选择框</title>
    <!--引入head部分数据-->
    {include file="base/header"/}
    <link rel="stylesheet" type="text/css" href="/base/extend/codemirror-5.65.0/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="/base/extend/codemirror-5.65.0/theme/ttcn.css">

    
    <script charset="utf-8" src="/base/extend/codemirror-5.65.0/lib/codemirror.js"></script>
    <script charset="utf-8" src="/base/extend/codemirror-5.65.0/mode/xml/xml.js"></script>
    <script charset="utf-8" src="/base/extend/codemirror-5.65.0/mode/javascript/javascript.js"></script>
    <script charset="utf-8" src="/base/extend/codemirror-5.65.0/mode/css/css.js"></script>
    <script charset="utf-8" src="/base/extend/codemirror-5.65.0/mode/htmlmixed/htmlmixed.js"></script>
    <style>
    </style>
    <!--代码展示-->
    <style>
        .code_container{
            border: 1px #ccc solid;
            margin-top: 20px;
        }
        .code_container .title{
            height: 36px;
            border-bottom: 1px solid #ccc;
            line-height: 36px;
            padding-left: 10px;
        }
        .code_container .lable{
            height: 24px;
            line-height: 24px;
            padding-left: 10px;
            background-color: #f7f7f7;
        }


    </style>
</head>
<body>
    <!--页面 top部分代码-->
    {include file="base/top"/}
    <!--页面 内容部分-->
    <div id="content">
        <div class="content_rows">
            {include file="base/left"/}
            <!--右侧内容-->
            <div class="main_content">
                <!--内容主体-->
                <section class="main_container">
                    <section class="markdown">
                        <section class="markdown">
                            <h1>Select<span class="subtitle">选择器</span></h1>
                            <section class="markdown">
                                <p>下拉选择器。</p>
                                <h2 id="何时使用" data-scrollama-index="0"><span>何时使用</span><a href="#何时使用" class="anchor">#</a></h2>
                                <ul>
                                    <li><p>弹出一个下拉菜单给用户选择操作，用于代替原生的选择器，或者需要一个更优雅的多选器时。</p></li>
                                    <li><p>当选项少时（少于 5 项），建议直接将选项平铺，使用 Radio 是更好的选择。</p></li>
                                </ul>
                            </section>
                            <h2 data-scrollama-index="1">代码演示</h2>
                        </section>
                        <section class="code_box" id="button_demo_basic" data-scrollama-index="2">
                            <section class="code_box_demo">
                                <p>基础用法 单选框</p>
                                <select class="select_common">
                                    <option value="jack">Jack</option>
                                    <option value="lucy">Lucy</option>
                                    <option value="disabled" disabled>Disabled</option>
                                    <option value="1">1</option>
                                </select>
                                <p>基础用法 多选框</p>
                                <select class="select_multiple">
                                    <option value="jack">Jack</option>
                                    <option value="lucy">Lucy</option>
                                    <option value="disabled" disabled>Disabled</option>
                                    <option value="1">1</option>
                                </select>
                                <br/>
                                <p>常用搜索用法</p>
                                <div class="form">
                                    <input placeholder="基础用法" type="text" class="ui_input base" value="">
                                    <input placeholder="基础用法" type="text" class="ui_input base" value="">
                                    <input placeholder="基础用法" type="password" class="ui_input base" value="123">
                                </div>
                                <div class="code_container">
                                    <div class="title">简单使用组件</div>
                                    <div class="lable">HTML</div>
                                    <textarea type="code" data-mode="text/html"></textarea>
                                    <div class="lable">JavaScript</div>
                                    <textarea type="code" data-mode="text/javascript">不需要</textarea>
                                </div>
                            </section>
                        </section>
                    </section>
                </section>
            </div>
        </div>
    </div>
</body>
<script type="module">

</script>
</html>